<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url"/>
        <property name="hibernate.connection.username"/>
        <property name="hibernate.connection.password"/>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="data.Bene"/>
        <mapping class="data.Fattura"/>
        <mapping class="data.Automezzo"/>
        <mapping class="data.ListaFermate"/>
        <mapping class="data.Autobus"/>
        <mapping class="data.RichiestaCliente"/>
        <mapping class="data.RequisitiMinimiDiCandidatura"/>
        <mapping class="data.Conto"/>
        <mapping class="data.Corsa"/>
        <mapping class="data.TransazioneFinanziaria"/>
        <mapping class="data.Ordine"/>
        <mapping class="data.Dipendente"/>
        <mapping class="data.Turno"/>
        <mapping class="data.Dipartimento"/>
        <mapping class="data.Prodotto"/>
        <mapping class="data.Libro"/>
        <mapping class="data.Fermata"/>
        <mapping class="data.Ruolo"/>
        <mapping class="data.Cliente"/>
        <mapping class="data.Fornitore"/>
        <mapping class="data.Preventivo"/>

    </session-factory>
</hibernate-configuration>
